#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #D70D34;
  margin-top: 80px;
  padding-left: .75rem;
  padding-right: .75rem;
}

.sup {margin-top: 100px;}
.stacked_progress {
  border: 1px solid grey;
  height: 22px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.stacked_progress * {
  height: 100%;
  border: 0;
  border-radius: 0;
  padding:0;
  transition: all .3s ease;
}

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }

  .question-fade-enter-active {
  transition: all .3s ease;
}
.question-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.question-fade-enter, .question-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.correct-flip-enter-active {
  animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.correct-flip-leave-active {
  animation: swing-out-bottom-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.drop-enter-active {
  animation: bounce-in-top 1.1s both;
}

.drop-leave-active {
  animation: swing-out-bottom-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}


.catsel{
  margin-top: 10px;
}


.coolNav {
  display: flex;
  background: #ffcd00 /* skyblue */;
  top:0;
  left:0;
  right: 0;
  padding-top: 5px;
}
.logo {
  width: 50px;
}
@media (max-width:400px) {
  .logoText {
    display: none;
  }
}

.coolNav a {
  z-index: 99;
  text-decoration: none;
  text-align: center;
  color: #D70D34;
  font-weight: bold;
  line-height: 42px;
  vertical-align: middle;
  padding: 0 5px;
  margin: 0 5px;
  border: 3px solid transparent;
  flex: 1;
  justify-content: center;
}

.coolNav a:hover {
  border-bottom: 3px solid rgba(102, 102, 102, 0.1);
}


.coolNav img {
  display: inline-block;
  vertical-align: middle;
}

.active {
  background: rgba(102, 102, 102, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}


/* ----------------------------------------------
 * Generated by Animista on 2017-3-21 17:56:27
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation swing-in-bottom-fwd
 * ----------------------------------------
 */
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation swing-out-bottom-bck
 * ----------------------------------------
 */
@keyframes swing-out-bottom-bck {
  0% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
  100% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
}

/* =====================================================================================================*/

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
/* Color scheme
https://color.adobe.com/create/color-wheel/?base=2&rule=Triad&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.2949144764288695,0.5268389236546543,0.6215686274509804,0.934640522875817,0.6303852037268809,0.6858610902518676,0.5294117647058824,0.807843137254902,0.9215686274509803,0.7215686274509803,0.7025318072320571,0.34236128493950774,0.6215686274509804,0.6067302495894618,0.32599290780141843&swatchOrder=0,1,2,3,4

#D70D34
#8124BC
#ffcd00
rgba(102, 102, 102, 0.1)
#F27709
#



*/


.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  align-content: center;
}

.verificator {
  background: green;
  color:#fff;
  font-size: 44px;
  text-align: center;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  padding-bottom: 72px;
  padding-top:20px;
}

.verificator img {
  width: 90px;
}

.msg {
  font-size: 22px;
}

.v {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
}

.wrong {
  background: red;
}
.questions-menu {
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.questions-menu button {
  width: 50%;
  font-size: 22px;
  border-radius: 5px;
  padding: 10px;
}

.questions-menu .verifica:hover{
  border: 3px solid #D70D34;
}

.verifica {
  background: #fff;
  color: #D70D34;
  border: 3px solid #D70D34;
}

.questions-menu .urmatoarea {
  color: #fff;
  background: transparent;
  border: 3px solid white;
}
.testThing {
  margin-bottom: 400px;
}

.modal h2 {
  text-transform: capitalize;
}

h2 {
  min-height: 42px;
}


* {
  
  /* 
    makes it so that clicking button 
    is not cunfused with selecting text 
  */
  user-select:none; 
}
.ans {
  min-height: 49px;
  background: rgba(102, 102, 102, 0.1);
  border-radius: 5px;
  border-bottom: 2px solid #666;
  padding: 5px 10px;
  margin:5px 0;
  text-align: left;
  font-size: 18px;
  /*line-height: 20px;*/
  display: flex;
}

.ans:hover {
  border-top: 2px solid #fff;
  border-bottom: 0;
}

.text {
  width: 90%;
  align-self: center;
}

.tick {
  display: none;
  font-size: 40px;
  align-self: center;
}

.active .tick {
  display: inline-flex;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  align-content: center;
  animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.active .letter {
  display: none;

}
.letter {
  color: #000;
  opacity: 0.2;
  font-size: 40px;
  padding: 10px;
  align-self: center;
}

.active {
  color: #fff;
  background: #D70D34;
  border-top: 2px solid #fff;
  border-bottom: 0;
  min-height: 42px;
  padding: 5px 10px;
  margin:5px 0;
}